# Flashcard App (giữ nguyên)
flashcard.duongle.site {
    reverse_proxy localhost:3000
}

flashcard-api.duongle.site {
    reverse_proxy localhost:8000
}

# Portfolio App (mới)
duongle.site {
    reverse_proxy localhost:4000
}

api.duongle.site {
    reverse_proxy localhost:4001
}
